footer {
  background-color: #724a95;
  color: white;
  font-family: Popins, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.newsletter input {
  padding: 10px 24px;
  margin: 0 -30px 0 0;
  font-size: 16px;
  color: #37184f;
  width: 65%;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}

.newsletter input::placeholder {
  color: #411666;
  font-size: 16px;
  opacity: 0.9;
}

.newsletter button {
  margin: 0;
  background-color: #411666;
  color: white;
  width: 35%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.newsletter button:hover {
  background-color: #37184f;
}

.socialmedia-div {
  display: flex;
  margin: 0 -3px;
  max-width: 200px;
  align-items: flex-start;
  justify-content: center;
}

.socialmedia-div a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 10px 4px;
  height: 32px;
  width: 32px;
  background-color: white;
}

.socialmedia-div img {
  height: 24px;
  width: 24px;
}

.app-buttons {
  margin-left: -3px;
}

.app-buttons img {
  width: 120px;
  height: 120px;
  margin: -30px 5px -30px 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-right p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.85;
}

.footer-column-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-column {
  margin: 0 50px;
  text-align: center;
}

.footer-column a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
  opacity: 0.8;
}

.footer-column a:hover {
  text-decoration: underline;
}
