.forgotpassword-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Poppins, sans-serif;
  margin: 0 auto 100px;
}

.forgotpassword-container {
  margin-top: 60px;
  width: 440px;
}
