body {
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-family: Poppins, sans-serif;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  margin: 0 auto;
}

.nav-container img {
  height: auto;
  width: 100px;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-container a {
  color: #6b7280;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-container a:hover {
  color: #411666;
}

.nav-link.active {
  color: #411666;
  font-weight: 520;
}

.login-div {
  display: flex;
  gap: 16px;
  align-items: center;
}

.registration-link {
  background-color: #411666;
  color: #ffff !important;
  padding: 10px 16px;
  margin-left: 20px;
  font-size: 14px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.registration-link:hover {
  background-color: #37184f;
}

.profile-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translateX(50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  z-index: 100;
  text-align: center;
}

.dropdown-item {
  padding: 10px 15px;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

.dropdown-item:hover {
  background: #ebe9e9;
}

.logout-btn {
  background: none;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
