.button {
  background-color: #411666;
  color: white;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #37184f;
}
