header {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-family: Poppins, sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-container img {
  height: auto;
  width: 100px;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-container a {
  color: #6b7280;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-container a:hover {
  color: #411666;
}

.login-div {
  display: flex;
  gap: 50px;
  align-items: center;
}
